<div class="cointainer-fluid text-center abc bg-light p-3" >
    <h1 class = "home-title1 ">
     <%= link_to "TaskSync", dashboard_path, class: "text-decoration-none text-dark"  %>  
     </h1>
    <div class="position-absolute top-0 end-0 p-3">
    <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
    </div>
</div>