<div class="d-flex flex-column justify-content-center align-items-center vh-100 vw-100 home">
    <h1 class = "home-title "> TaskSync </h1>
    <h3 class = "home-sub"> Sync Your Way to Productivity! </h3>    
    <br>
    <%= link_to "Sync Your Moments", dashboard_path, class: "btn btns btn-lg " %>
    
</div>


